/*  your css code here. If applicable */
table {
	border-width: 0px 0px 1px 1px;
	border-style: solid;
    border-color: orange;
    border-collapse: collapse;
}

th {
	background-color: #888888;
	color: white;
}

th, td {
	text-align: center;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: orange;
	padding: 3px 5px;
}

.sub-total-text {
	text-align: right;
}

