/*  your css code here. If applicable */
table {
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: orange;
}

th {
	background-color: #888888;
	color: white;
}

th, td {
	text-align: center;
	border: 1px solid orange;
	padding: 3px 5px;
}

.sub-total-row {
	text-align: right;
}

